<div class="wp-block-meetup-events">
	{{#unless hide_title}}
		<h3 class="meetup-events__title">{{attributes.title}}</h3>
	{{/unless}}
	{{#if show_events_description}}
		{{#each events}}
			<div class="meetup-events__event">
				<h4 class="meetup-events__event-title">
					<a class="meetup-events__event-link" href="{{this.url}}">{{this.name}}</a>
				</h4>
				<time class="meetup-events__event-date" datetime="{{this.datetime}}">{{this.long_date}}</time>
				<p class="meetup-events__event-excerpt">{{this.excerpt}}</p>
			</div>
		{{/each}}
	{{else}}
		{{#if show_events}}
			<ul class="meetup-events__list">
				{{#each events}}
					<li class="meetup-events__event">
						<a class="meetup-events__event-link" href="{{this.url}}">{{this.name}}</a>
						<time class="meetup-events__event-date" datetime="{{this.datetime}}">{{this.long_date}}</time>
					</li>
				{{/each}}
			</ul>
		{{else}}
			{{#if events.code }}
				<p class="meetup-events__no-events">{{events.message}}</p>
			{{else}}
				<p class="meetup-events__no-events">{{attributes.placeholder}}</p>
			{{/if}}
		{{/if}}
	{{/if}}
</div>
